<div class="container">
  <h1><%= "Hi #{@user.first_name}!" %></h1>
  <div class="main-container full-padded">
    <div id="profile" class="full-padded">

      <% if @user.photo.file.nil? %>
      <div class="empty-picture"">
        <p>-- No picture --</p>
      </div>
      <% else %>
      <div class="user-photo text-center">
        <%= cl_image_tag @user.photo, height: 270, width: 200, crop: :fill, :radius=>10 %>
      </div>
      <% end %>
      <div id="info" class="full-padded">
        <!-- <ul> -->
          <p><%= "First name: #{@user.first_name}" %></p>
          <p><%= "Last name: #{@user.last_name}" %></p>
          <!-- </ul> -->
          <%= link_to "Change credentials...", "\#", class: "btn-sm" %>
        </div>
      </div>
      <div style="flex: 1 0 auto; border: red solid 2px;">
        <div class="full-padded center">
          <%= link_to "Add a new car", new_car_path, class: "btn-md" %>
        </div>
        <div id="cars" style="border: green solid 2px;">
          <% if @user.cars.empty? %>
          No cars yet...
          <% else %>
          <% @user.cars.each do |car| %>
          <div class="car" style="border: solid blue 2px; display: flex; justify-content: space-around; padding: 15px;">
            <%= link_to car_path(car) do %>
            <div class="card">
              <div class="thumb-wrapper">
                <% if car.car_photos[car.cover_photo].nil? %>
                <div class="empty-thumbnail">
                  <p>-- No picture --</p>
                </div>
                <% else %>
                <div class="pic-thumbnail" style="background-image: url(<%= car.car_photos[car.cover_photo].photo.url(:thumbnail) %>);"></div>
                <% end %>
              </div>
              <%= link_to "Change cover pic", "#", class: "btn-sm" %>
            </div>
            <% end %>
            <%= link_to "Remove car", car_path(car), class: "btn-sm", method: :delete %>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
