<div class="container">
  <h1 class="text-center">Let the fun begin...</h1>
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 full-padded">
        <%= link_to car_path(car) do %>
          <div class="card">
            <div class="thumb-wrapper">
              <% if car.car_photos[car.cover_photo].nil? %>
                <div class="empty-thumbnail">
                  <p>-- No picture --</p>
                </div>
              <% else %>
                <div class="pic-thumbnail" style="background-image: url(<%= car.car_photos[car.cover_photo].photo.url(:thumbnail) %>);"></div>
              <% end %>
            </div>
            <div class="car-label">
              <p><%= "#{car.make} #{car.model} (#{car.year})" %></p>
            </div>
            <div class="car-details">
              <p><i class="fas fa-users"></i><%= " #{car.number_seats}  " %><i class="  fas fa-euro-sign"></i><%= " #{car.price_day}  " %><i class="  fas fa-map-marker-alt"></i><%= " #{car.location}" %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <br>
  <div class="text-center">
    <%= link_to "Add a new car", new_car_path, class: "btn" %>
  </div>
</div>


