<div class="container">
  <h1 class="text-center">Let the fun begin...</h1>
  <br>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <%= form_tag cars_path, method: :get do %>
        <div class="col-xs-9">
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Make, model, location ..." %>
          </div>
        </div>
        <div class="col-xs-3">
          <%= submit_tag 'Search', name: nil, class: "btn btn-search btn-block" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container-map">
  <div class="cards-container">
    <div class="row">
      <% @cars.each do |car| %>
        <div class="col-xs-12 col-sm-6 full-padded">
          <%= link_to car_path(car) do %>
            <div class="card">
              <div class="thumb-wrapper">
                <% if car.car_photos[car.cover_photo].nil? %>
                  <div class="empty-thumbnail">
                    <p>-- No picture --</p>
                  </div>
                <% else %>
                  <div class="pic-thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url(<%= car.car_photos[car.cover_photo].photo.url(:thumbnail) %>);">

                    <div class="pic-location">
                      <p><i class="  fas fa-map-marker-alt"></i><%= " #{car.location}" %></p>
                    </div>
                    <div class="pic-price">
                      <p><i class="  fas fa-euro-sign"></i><%= " #{car.price_day}" %></p>
                    </div>

                  </div>
                <% end %>
              </div>
              <div class="car-label">
                <p><%= "#{car.make} #{car.model} (#{car.year})" %></p>
              </div>
              <div class="car-details">
                <p><i class="fas fa-users"></i><%= " #{car.number_seats}  " %></p>
                <p><i class="far fa-circle"></i> <%= car.driver_left ? "Left" : "Right" %></p>
                <p><i class="fas fa-user"></i> <%= car.chauffeur ? "Yes" : "No" %></p>
                <p><i class="fas fa-car"></i> <%= car.automatic ? "Automatic" : "Manual" %></p>
              </div>

      </div>
      <% end %>
    </div>

    <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>

