  <div>
    <% if @car.car_photos[@car.cover_photo].nil? %>
      <div class="empty-picture"">
        <p>-- No picture --</p>
      </div>
    <% else %>
      <div class="car-photo text-center">
        <%= cl_image_tag @car.car_photos[@car.cover_photo].photo, height: 400, width: 1280, crop: :fill, :gravity=>"auto" %>
      </div>
    <% end %>
  </div>

    <div class="container-show car-text">
        <div class="car-information">
          <div class="row">
            <h1><%= "#{@car.year} #{@car.make} #{@car.model}" %></h1>
          </div>
        </div>
      <div class="car-icons">
        <p><i class="fas fa-users"></i><%= " #{@car.number_seats}  " %></p>
        <p><i class="far fa-circle"></i> <%= @car.driver_left ? "Left" : "Right" %></p>
        <p><i class="fas fa-user"></i> <%= @car.chauffeur ? "Yes" : "No" %></p>
        <p><i class="fas fa-car"></i> <%= @car.automatic ? "Automatic" : "Manual" %></p>
        <p><i class="  fas fa-map-marker-alt"></i><%= " #{@car.location}" %></p>
      </div>

      <div class="card-description">
        <p><%= "Owner #{@car.user.first_name} says... #{@car.description}." %></p>
      </div>
<br>

      <div>
        <%= link_to "Book Your Classic Ride", new_car_booking_path(@car), class: "btn" %>
      </div>
      <br>
    <div>
      <%= link_to "Back to Search Results", :back, class: "btn-back" %>
    </div>
    <br>
  </div>











