<div class="container">

  <div>
    <% if @car.car_photos[@car.cover_photo].nil? %>
      <div class="empty-picture"">
        <p>-- No picture --</p>
      </div>
    <% else %>
      <div class="car-photo text-center">
        <%= cl_image_tag @car.car_photos[@car.cover_photo].photo, height: 500, width: 700, crop: :fill, :radius=>50 %>
      </div>
    <% end %>
  </div>

    <div class="container car-text">
      <div class="car-information">
        <h1><%= "#{@car.year} #{@car.make} #{@car.model}" %></h1>
      </div>

      <div class="card-description">
        <h5><%= "The owner #{@car.user.first_name} says... This car is #{@car.description}." %></h5>
        <h6><i class="  fas fa-euro-sign"></i><%= " #{@car.price_day}  " %><i class="  fas fa-map-marker-alt"></i><%= " #{@car.location}" %></h6>
      </div>
<br>
      <div class="card-details">
        <h5>Details of your ride...</h5>
        <p>This car is <%= @car.convertible ? "a convertible." : "closed top." %></p>
        <p>The driver seat is on the <%= @car.driver_left ? "left side of the car." : "right side side of the car." %></p>
        <p>The transmission of this car is <%= @car.automatic ? "automatic." : "manual." %></p>
        <p>Chauffeur avialable? <%= @car.chauffeur ? "Yes" : "No" %></p>
      </div>
      <div>
        <%= link_to "Book Your Classic Ride", new_car_booking_path(@car), class: "btn" %>
      </div>
      <br>
<!--  -->
  </div>


  <div>
    <%= link_to "Back to Search Results", :back, class: "btn" %>
  </div>

</div>










