<div class="container">
  <div>
    <h1><%= "#{@car.year} #{@car.make} #{@car.model}" %></h1>
  </div>

  <div>

    <% if @car.car_photos[@car.cover_photo].nil? %>
      <div class="empty-picture"">
        <p>-- No picture --</p>
      </div>
    <% else %>
      <div>
        <%= cl_image_tag @car.car_photos[@car.cover_photo].photo, height: 600, width: 800, crop: :fill %>
      </div>
    <% end %>


    <div class="container text-center">
      <div class="car-information">
        <div class="card-description">
          <h4>Meet Your Dream Ride</h4>
          <p><%= @car.description %> </p>
        </div>
        <div class="card-price">
            <h6>Price</h6>
            <p><%= "#{@car.price_day} €/day" %></p>
        </div>
        <div class="card-seats">
            <h6>Seats</h6>
            <p><%= @car.number_seats %></p>
        </div>
        <div class="card-details">
            <h6>Details</h6>
            <p><%= @car.convertible ? "Convertible" : "Closed" %></p>
            <p><%= @car.driver_left ? "Left" : "Right" %></p>
            <p><%= @car.automatic ? "Auto" : "Stick" %></p>
            <p><%= @car.chauffeur ? "Available" : "--" %></p>
        </div>

      </div>
    </div>

  </div>

  <div>
    <%= link_to "Back to Search Results", cars_path, class: "btn" %>
  </div>
</div>
