<div class="navbar-wagon">
  <!-- Logo -->
  <div class="header_h1">
    <h1>Classic Rides</h1>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <%= link_to "Search", cars_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Journeys</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <% if user_signed_in? %>
        <div class="dropdown">
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to "Dashboard", dashboard_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Signin", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link"%>
      <% end %>
    </div>
  </div>
</div>

